# Outputs
First Task/Number Comparer(1)/out/
First Task/Dinosaur(2)/out/
First Task/Ring(3)/out/
First Task/Sequence(4)/out/
First Task/Average(5)/out/
First Task/Reverse(6)/out/
First Task/Switch(7)/out/