# Outputs
Task_1/(1)/out/
Task_1/(2)/out/
Task_1/(3)/out/
Task_1/(4)/out/
Task_1/(5)/out/
Task_1/(6)/out/
Task_1/(7)/out/
Task_1/(8)2.1/out/
Task_1/(9)2.2/out/
Task_1/(1)/.idea/
Task_1/(2)/.idea/
Task_1/(3)/.idea/
Task_1/(4)/.idea/
Task_1/(5)/.idea/
Task_1/(6)/.idea/
Task_1/(7)/.idea/
Task_1/(8)2.1/.idea/
Task_1/(9)2.2/.idea/
Task_1/(11)2.4/
Task_2/1.HeadsOrTailS/.idea/
Task_2/1.HeadsOrTailS/out/
Task_2/2.Algoritms/.idea/
Task_2/2.Algoritms/out/
Task_2/3.SovershennieChisla/.idea/
Task_2/3.SovershennieChisla/out/